.input {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    border: none;
    background-color: transparent;
    color: #00ff00;
    font-family: "Share Tech Mono";
    font-size: 1em;
    border-bottom: dashed 1px #00ff00;
    margin-bottom: 1rem;
  }

.input::placeholder {
  color: #00ff00;
  font-family: "Share Tech Mono";
  font-size: 1em;
  opacity: 1;
}