.wrapper label {
  margin-bottom: 0.4rem;
  display: block;
  color: #f0f0f0;
  font-weight: 600;
  font-size: 0.8em;
}

.wrapper input {
  padding: 0.6rem;
  width: calc(100% - 1.6rem);
  background-color: #f0f0f019;
  border: solid 1px #f0f0f000;
  color: #f0f0f0;
}

.wrapper input:focus {
  background-color: #f0f0f033;
  border: solid 1px #005bc4ff;
}

.wrapper input:hover {
  background-color: #f0f0f033;
}