.button {
  margin: 0px;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: solid 2px #175092;
  background-color: #2281ec;
  border-radius: 4px;
  color: #fafafa;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
  transition: all 50ms linear;
}

.button:hover {
  background-color: #ffffff;
  border-bottom: solid 2px #bbbbbb;
  transition: all 50ms linear;
  color: #2281ec;
}

.button:active {
  transition: all 50ms linear;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
}

.button:disabled {
  background-color: #888888;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.button:disabled:hover {
  background-color: #888888;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.button:disabled:active {
  background-color: #888888;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.light {
  margin: 0px;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: solid 1px #0e315a;
  background-color: #2281ec;
  border-radius: 4px;
  color: #fafafa;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  transition: all 50ms linear;
}

.light:hover {
  background-color: #2281ec;
  border-bottom: solid 1px #0e315a;
  transition: all 50ms linear;
  color: #2281ec;
}

.light:active {
  transition: all 50ms linear;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.light:disabled {
  background-color: #888888;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.light:disabled:hover {
  background-color: #888888;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.light:disabled:active {
  background-color: #888888;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.fullWidth {
  width: 100%;
}