.button {
  margin-bottom: 0rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #005bc4;
  color: #f0f0f0;
  display: inline-flex;
  align-items: center;
}

.button:hover {
  background-color: #0067dd;
}

.button:active {
  background-color: #0077ff;
}

.buttonIcon {
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
}

.buttonIcon *:first-child {
  font-size: 1.2rem;
}

.buttonLabel {
  text-transform: capitalize;
}