.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 0.5rem;
}

.sidebar {
  padding: 0.5rem;
}

.header {
  padding: 0.5rem;
}

.content {
  padding: 0.5rem;
}

.title {
  text-transform: capitalize;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menuItem + .menuItem {
 margin-top: 1rem;
}

.menuItem > a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: dashed 1px #00ff00;
  background-color: transparent;
  color: #00ff00;
  font-family: "Share Tech Mono";
}
