.wrapper {
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: dashed 1px #00ff00;
  margin-bottom: 1rem;
}

.select {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #00ff00;
  font-family: "Share Tech Mono";
  font-size: 1em;
  }

.select::placeholder {
  color: #00ff00;
  font-family: "Share Tech Mono";
  font-size: 1em;
  opacity: 1;
}