.wrapperHidden {
  display: none;
}

.wrapperVisible {
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #222222bb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {  
  margin: 0px 0px 0rem 0px;
  padding: 0rem;
  width: 60%;
  height: 80vh;
  background-color: #222222;
  border: solid 1px #f0f0f011;
  box-shadow: 0px 0px 10px 0px #00000044;
}

.modalHeader {
  margin: 0px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid 1px #f0f0f011;
  
}

.modalHeaderLeft {
  margin: 0px;
  padding: 0rem;
  display: flex;
  align-items: center;
}

.modalHeaderLeft h4 {
  margin: 0px;
  padding: 0rem;
  color: #fefefe;
}

.modalHeaderRight {
  margin: 0px;
  padding: 0rem;
  text-align: right;
}

.modalBody {
  margin: 0px;
  padding: 1rem;
  overflow: auto;
  height: calc(#{80vh} - #{5.3rem} - #{1em});
}