.menu {
  margin: 0;
  padding: 0 0.25rem;
  list-style-type: none;
}

.item {
  padding: 0.25rem;
}

.item > a {
  text-decoration: none;
  color: #00ff00;
}

.item > a:focus,
.item > a:active,
.item > a:hover {
  color: #77ff77;
  outline: none;
}