.wrapper {
  display: flex;
}

.icon {
  color: #f0f0f055;
  padding: 0.35rem;
  background-color: #f0f0f009;
}

.input {
  padding: 0.35rem;
  background-color: #f0f0f009;
  border: none;
  transition: all 100ms linear;
  color: #f0f0f0;
  width: 60%;
}

.input:placeholder-shown {
  width: 20%;
}

.input:focus {
  width: 60%;
}