.wrapper {
  margin-bottom: 0rem;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1.6rem 1fr;
  background-color: #f0f0f011;
}

.icon {
  display: flex;
  align-items: center;
}

.icon *:first-child {
  color: #f0f0f055;
  font-size: 1.2rem;
}

.input {
  display: flex;
  align-items: center;
}

.input > input {
  border: none;
  background-color: transparent;
  color: #f0f0f0;
  width: 100%;
}