.wrapper {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 240px 1fr;
  font-family: "Open Sans";
  height: 100%;
}

.sidebar {
  margin: 0px;
  padding: 0rem;
  color: #f0f0f0;
  background-color: #33333388;
}

.logo {
  margin-bottom: 2rem;
  padding: 1rem 1rem 0px 1rem;
  display: grid;
  grid-template-columns: 2.4rem 1fr;
}

.logoIcon {
  display: flex;
  align-items: center;
}

.logoIcon *:first-child {
  color: #22bbff;
  font-size: 1.5rem;
  transform: rotate(45deg)
}


.logoText {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
}

.menu > span {
  display: block;
  margin: 1.5rem 0rem 1rem 0rem;
  padding: 0px 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  opacity: 0.4;
}

.menuItems {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.menuItems li {
  margin: 0px;
  padding: 0.5rem 1rem;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 2.2rem 2fr 1fr;
}

.menuItems li:hover {
  background-color: #333333;
}

.menuItems li:hover .menuItemActions {
  visibility: visible;
}

.menu-items li:hover .menuItemIcon {
  color: #f0f0f088;
}

.menuItemIcon {
  color: #f0f0f055;
  display: flex;
  align-items: center;
}

.menuItemLabel {
  display: flex;
  align-items: center;
}

.menuItemActions {
  display: flex;
  align-items: center;
  justify-content: right;
  visibility: hidden;
}

.menuItemActions ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menuItemActions ul li {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0f0f0aa;
}

.menuItemActions ul li:hover {
  color: #f0f0f0ee;
}

.navbar {
  margin: 0px;
  padding: 0rem;
  background-color: #005bc4;
  color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbarLeft {
  margin: 0px;
  padding: 0px;
}

.navbarRight {
  margin: 0px;
  padding: 0px;
  text-align: right
}

.navbarItem {
  margin: 0px;
  padding: 0.3rem 0.5rem;
  display: inline-flex;
  align-items: center;
}

.navbarItemIcon {
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbarItemIcon > * {
  display: inline-block;
  font-size: 1em;
}

.navbarItemLabel {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  text-transform: capitalize;
}

.navbarLink {
  margin: 0px;
  padding: 0.3rem 0.5rem;
  display: inline-flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.navbarLinkIcon {
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbarLinkIcon > * {
  display: inline-block;
  font-size: 1em;
}

.navbarLinkLabel {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  text-transform: capitalize;
}

.navbarLink:hover {
  background-color: #ffffff22;
}

.navbarButton {
  margin: 0px;
  padding: 0.3rem 0.5rem;
  display: inline-flex;
  align-items: center;
  text-align: left;
  height: calc(100% - 0.6rem);
  cursor: pointer;
}

.navbarButtonIcon {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbarButtonIcon > * {
  display: inline-block;
  font-size: 1em;
}

.navbarButtonLabel {
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  text-transform: capitalize;
}

.navbarButton:hover {
  background-color: #ffffff22;
}