.wrapper table{
  color: #f0f0f0;
  width: 100%;
  border-collapse: collapse;
}

.wrapper th {
  text-align: left;
  padding: 0.5rem 1rem;
  font-weight: normal;
}

.wrapper thead {
  border-bottom: solid 1px #f0f0f011;
  text-transform: capitalize;
}

.wrapper td {
  color: #f0f0f0;
  text-align: left;
  padding: 0.5rem 1rem;
  font-weight: normal;
}

.wrapper tbody > tr:hover {
  background-color: #005bc433;
}

.wrapper tbody > tr:hover > td:first-child {
  cursor: pointer;
}

.wrapper tbody > tr:hover > td:first-child:hover *:first-child {
  border-bottom: solid 1px #005bc4;
  color: #005bc4;
}

.wrapper .rowActions {
  text-align: right;
  visibility: hidden;
}

.wrapper tbody > tr:hover .rowActions{
  visibility: visible;
}

.wrapper .rowActions > * {
  margin-right: 0.6rem;
  border: none;
  background-color: transparent;
  color: #f0f0f0aa;
  cursor: pointer;
  font-size: 1.2rem;
}

.wrapper .rowActions > *:hover {
  color: #f0f0f0ee;
}