.wrapper {
  margin: 0px;
  padding: 0px;
  background-color: #f0f0f0;
  color: #333333;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  overflow: hidden;
}

.wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.wrapper table th {
  margin: 0px;
  padding: 1rem 1.6rem;
  text-align: left;
  font-weight: 600;
  color: #555555;
  font-size: 0.8em;
}

.wrapper table tr {
  border-top: solid 1px #dfdfdf;
}

.wrapper table tr td {
  margin: 0px;
  padding: 1rem 1.6rem;
  text-align: left;
  font-weight: 600;
}